<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>5cFruit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8D9FFA91CEBD1CA005AAD50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8D9FFBD1CEBD1CA005AAD50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8D9FFC81CEBD1CA005AAD50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
